---
Standard: Latest

BreakBeforeBraces: Custom
BraceWrapping:
  AfterRequiresExpression: true
  AfterNamespace: true
  AfterCaseLabel: true
  AfterClass: true
  AfterFunction: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterExportBlock: true
  AfterExternBlock: true
  AfterBraceBlock: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeCatch: true
  BeforeWhile: true
  BeforeInitializationList: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  AfterControlStatement: Always

AllowShortLambdasOnASingleLine: None
LambdaBodyIndentation: OuterScope
AlignAfterOpenBracket: DontAlign
Cpp11BracedListStyle: false
BreakBeforeLambdaBody: true
NamespaceIndentation: All

ColumnLimit: 0
...
