---
Standard: Latest

BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace: true
  AfterCaseLabel: true
  AfterClass: true
  AfterFunction: true
  AfterEnum: true
  AfterStruct: true
  AfterUnion: true
  AfterExternBlock: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeCatch: true
  BeforeWhile: true
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
  AfterControlStatement: Always

AllowShortLambdasOnASingleLine: None
LambdaBodyIndentation: OuterScope
AlignAfterOpenBracket: DontAlign
Cpp11BracedListStyle: false
NamespaceIndentation: All

ColumnLimit: 0
...
