body {
    --bg-color-primary: #353535;
    --bg-color-secondary: #42424271;
    --bg-color-teritary: #75757571;
    --control: #42424271;
    --control-hover: #34343471;
    --control-active: #12121271;

    --dom-background: #121212;
    --dom-node-hover: #080808;
}

body {
    margin: 0;
    background: transparent;

    font-family: "Roboto Mono";
    font-size: 14dp;
    color: white;
}

scrollbarvertical {
    width: 12px;
    background-color: #2d2d2d;
}

scrollbarvertical slidertrack {
    background-color: #2d2d2d;
}

scrollbarvertical sliderbar {
    background-color: #666666;
}

scrollbarhorizontal {
    height: 12px;
    background-color: #2d2d2d;
}

scrollbarhorizontal slidertrack {
    background-color: #2d2d2d;
}

scrollbarhorizontal sliderbar {
    background-color: #666666;
}

table {
    display: table;
    box-sizing: border-box;
}

tr {
    display: table-row;
    box-sizing: border-box;
}

td {
    display: table-cell;
    box-sizing: border-box;
}

th {
    display: table-cell;
    box-sizing: border-box;
}

thead,
tbody,
tfoot {
    display: table-row-group;
}

col {
    display: table-column;
    box-sizing: border-box;
}

colgroup {
    display: table-column-group;
}

div {
    display: block;
}

h2 {
    font-size: 16px;
    color: #b0b0cf;
}

h3 {
    font-size: 14px;
    color: #b0b0cf;
}

h4 {
    font-size: 12px;
    color: #b0b0cf;
}

p {
    display: block;
}

button {
    display: inline-block;
    padding: 6dp;

    color: white;

    background-color: var(--control);

    border: 1px #292929;
    border-radius: 2px;

    box-shadow: #1a1a1a 1px 1px 1px;
}

button:hover {
    background-color: var(--control-hover);
}

button:active {
    background-color: var(--control-active);
}

input[type="checkbox"] {
    width: 14dp;
    height: 14dp;
    align-items: center;

    background-color: var(--control);
    border: 1dp #666;
}

input[type="checkbox"]:hover {
    background-color: var(--control-hover);
}

input[type="checkbox"]:checked {
    background-color: var(--control-active);
}

.checkbox-row {
    display: flex;
    align-items: center;
    gap: 4dp;
    padding: 4px;
}

.window {
    position: absolute;
    left: 50dp;
    top: 50dp;

    width: 550dp;
    padding: 0dp;

    background-color: var(--bg-color-primary);

    border: 1px #292929;
    border-radius: 2px;

    box-shadow: #000a 3px 3px 3px;
}

.titlebar {
    display: flex;
    align-items: center;
    padding: 6px;

    background-color: var(--bg-color-secondary);

    border: 1px #292929;
    border-radius: 4px;

}

.title-icon {
    width: 32dp;
    height: 32dp;
    margin-right: 8dp;
}

.title {
    display: inline-block;

    color: #b0b0cf;
    font-size: 22dp;
}

.title-version {
    display: inline-block;
    font-size: 12dp;
    padding-left: 12dp;
    margin-left: auto;
}

.content {
    padding: 8px;
    font-size: 12px;
}

.hr-custom {
    display: block;
    border-top: 2px #292929;
}

.tabbar {
    display: flex;

    margin-bottom: 2px;

    color: white;

    background-color: #42424271;

    border-bottom: 1px #292929;
    border-radius: 1px;
}

.tabbutton {
    display: inline-block;
    flex: 1;
    padding: 4px;

    justify-content: center;
    align-items: center;

    text-align: center;
    vertical-align: middle;

    color: white;

    border-radius: 1px;

    box-shadow: none;
}

.tabbutton.ending {
    border-right: 1px #292929;
    border-right: 1px #292929;
    border-top: 0;
    border-bottom: 0;
}

.tabbutton.left {
    border-left: 0;
    border-right: 1px #292929;
    border-top: 0;
    border-bottom: 0;
}

.tabbutton.center {
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

.tabbutton.right {
    border-left: 1px #292929;
    border-right: 0;
    border-top: 0;
    border-bottom: 0;
}

.tabbutton-selected {
    background-color: var(--control-active);
}

.debug-table {
    display: table;
    width: 100%;
    padding: 8px;
}

.debug-table thead {
    border-top: 1px #0f0f0f;
    border-left: 1px #0f0f0f;
    border-right: 1px #0f0f0f;
    border-bottom: 1px #0f0f0f;
}

.debug-table tr {
    display: table-row;
    background-color: var(--control-active);
}

.debug-table th {
    display: table-cell;
    width: 25%;
    padding: 4dp;
    text-align: center;
    padding: 4dp;
    font-size: 14px;
}

.debug-table td {
    display: table-cell;
    width: 25%;
    padding: 4dp;
    text-align: center;
    padding: 4dp;
}

.debug-table th:nth-child(odd) {
    background-color: var(--control-hover);
}

.debug-table th:nth-child(even) {
    background-color: var(--control-active);
}

.debug-table td:nth-child(odd) {
    background-color: var(--control-active);
}

.debug-table td:nth-child(even) {
    background-color: var(--control-hover);
}

.dom-viewer {
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;

    border: 1px #292929;
    border-radius: 2px;

    box-shadow: #1a1a1a 1px 1px 1px;
}

.dom-tree {
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex: 3;
    align-self: auto;
}

.dom-node {
    color: #8181ff
}

.dom-node-type {
    color: #ff7e7e
}

.dom-node-key {
    color: #84ffad
}

.dom-node-value {
    color: #c1fdd5;
}

.dom-row {
    background-color: var(--dom-background);
    display: block;
    padding-left: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dom-row.hovered {
    background-color: var(--dom-node-hover);
}

.dom-inspector {
    height: 100%;
    padding-left: 6px;
    padding-top: 6px;
    display: inline-block;
    box-sizing: border-box;
    overflow-y: auto;
    overflow-x: hidden;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    flex: 1;
    align-self: auto;

    background-color: var(--dom-background);

    border: 1px #292929;
    border-radius: 2px;

    box-shadow: #1a1a1a 1px 1px 1px;
}

.dom-inspector-entry {
    padding-bottom: 8px;
}

.dom-inspector-key {
    font-size: 16px;
    color: #b0b0cf;
}
